<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>

  <div class="profile-container">
    <img src="https://i.pinimg.com/474x/cc/5f/93/cc5f93c15abc22fa145107e52cabb0f9.jpg" alt="Profile Picture" class="profile-image">
    <h1>Varun Sharma</h1>
    <h3>varuncares22</h3>
    <p>0 followers</p>
    <button>Share</button>
    <button>Edit Profile</button>
  </div>
  
  <div class="post-container">
    <div class="card">
      <a href="">
        <img src="https://i.pinimg.com/474x/cc/5f/93/cc5f93c15abc22fa145107e52cabb0f9.jpg" alt="Post Image">
      </a>
    </div>

    <div class="card">
      <a href="">
        <img src="https://i.pinimg.com/474x/cc/5f/93/cc5f93c15abc22fa145107e52cabb0f9.jpg" alt="Post Image">
      </a>
    </div>

    <div class="card">
      <a href="">
        <img src="https://i.pinimg.com/474x/cc/5f/93/cc5f93c15abc22fa145107e52cabb0f9.jpg" alt="Post Image">
      </a>
    </div>
    <div class="card">
      <a href="">
        <img src="https://i.pinimg.com/474x/cc/5f/93/cc5f93c15abc22fa145107e52cabb0f9.jpg" alt="Post Image">
      </a>
    </div>
    <div class="card">
      <a href="">
        <img src="https://i.pinimg.com/474x/cc/5f/93/cc5f93c15abc22fa145107e52cabb0f9.jpg" alt="Post Image">
      </a>
    </div>
    <div class="card">
      <a href="">
        <img src="https://i.pinimg.com/474x/cc/5f/93/cc5f93c15abc22fa145107e52cabb0f9.jpg" alt="Post Image">
      </a>
    </div>
  </div>

</body>
</html>
